<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>

</head>
<body>
    <h1>Welcome to Our Website</h1>
    <p>This is the main page of our website. To get started, please register an account.</p>
    <nav>
        <a href="{% url 'users:register' %}">Go to Register Page</a><br><br>
        {% if request.user.is_authenticated %}
            <a href="{% url 'category' %}">Category</a><br><br><br>
            <a href="{% url 'users:profile' user.pk %}">Profile</a><br><br><br>
            <a href="{% url 'users:profile-update' user.pk %}">Profile Update</a><br><br><br>
            <a href="{% url 'users:logout' %}">Logout</a>

        {% else %}
            <a href="{% url 'users:login' %}">Login</a>
        {% endif %}
    </nav>
</body>
</html>
