<!-- songgiyangilik.html -->
{% extends "base.html" %}

{% block title %}So'nggi Yangiliklar{% endblock %}


{% block content %}
    <style>
        /* So'nggi yangiliklar sahifasiga mos stil */
        h1 {
            text-align: center; /* Sarlavhani markazga joysin */
            color: #333; /* Matn rangi */
        }

        /* Stil berish uchun yangilik divining stili */
        .post {
            margin-bottom: 20px; /* Yangiliklar o'rtasida bo'shlik qoldirish */
            padding: 10px; /* Yangiliklarning konteyneriga ichki padding */
            background-color: #f9f9f9; /* Yangilik konteynerining fon rangi */
            border-radius: 8px; /* Yangilik konteynerining radiusi */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Yangilik konteynerining teshik effekti */
        }

        /* Postlar uchun stil */
        .post h4 {
            font-size: 20px; /* Post sarlavhasi uchun shrift o'lchami */
            margin-bottom: 5px; /* Pastki bosqich bilan bo'shlig'ini kichik qilish */
        }

        .post h5 {
            font-size: 16px; /* Post matni uchun shrift o'lchami */
            color: #666; /* Post matnining rangi */
        }

        .post hr {
            margin: 10px 0; /* Balandlik va o'lcham */
            border: none; /* Chiziqsizlik */
            border-top: 1px solid #ccc; /* Pastki chiziq rangi */
        }
    </style>

    <h1>So'nggi Yangiliklar</h1>
    {% for p in post %}
        <div class="post">
            <h4>{{ p.data }}</h4>
            <h5>{{ p.text }}</h5>
            <hr>
        </div>
    {% endfor %}
{% endblock %}
